<% provide(:title, "Edit tweet for tweet ##{@tweet.id}") %>

<div class="row">
  <div class="small-12 medium-8 medium-centered columns white-bg">
    <h1>Edit Tweet</h2>

    <%= form_for @tweet do |f| %>
      <%= f.text_area :tweet_text, class: 'radius', rows: 10, placeholder: @tweet.tweet_text, required: true %>
      <%= link_to 'Cancel', tweet_path(@tweet), class: 'button radius' %>
      <%= f.submit 'Update', class: 'button button-primary radius' %>
    <% end %>
  </div>
</div>
